img{
    border: 3px solid white;
    height: 250px;
    }
.poster{
    margin-left: 10%;
    margin-top: 30%;
    width: 80%;
    text-align: center;
    color: antiquewhite;
}
body{
    background-color: #364e3a;
}
h1{
    font-family: 'IBM Plex Serif', serif;
    text-transform: uppercase;
}